* {
    font-family:   "JetBrainsMono Nerd Font", "FontAwesome 6 Free";
    font-size:     15px;
    animation-duration: 1s;
}

window#waybar {
    all:unset;
}

window#waybar.solo {
    color: rgba(53, 185, 171, 1);
}

.modules-left {
    padding: 10px;
    margin: 10px 0px 2px 10px;
    border-radius: 10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .6);
}
.modules-center {
    padding: 10px;
    margin: 10px 0px 5px 0px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:15px;
    margin: 10px 10px 5px 0px;
    border-radius:10px;
    background: alpha(@background,.6);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .6);
}

#workspaces button {
    all:unset;
    margin: 0px 10px;
    color: alpha(@color9,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.urgent {
    color: rgb(204, 51, 0);
}

#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#bluetooth,
#idle_inhibitor, 
#temperature,
#pulseaudio,
#custom-layout,
#backlight {
    padding: 0px 5px;
    transition: all .3s ease;
}

#clock {
    padding: 0px 5px;
    transition: all .3s ease;
}

#battery.warning {
   color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#bluetooth.disabled {
    color: rgba(128, 128, 128, 1);
}

#bluetooth.off {
    color: rgba(128, 128, 128, 1);
}

#bluetooth.connected {
    color: rgba(115, 186, 37, 1);
}

#tray{
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#group-power{
    padding: 0px 10px;
    transition: all .3s ease;
}

#custom-power-expand{
    padding: 0px 10px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}

#custom-lock,
#custom-shutdown,
#custom-sleep,
#custom-reboot {
    margin: 0px 10px;
}
