* {
    border: none;
    border-radius: 8;
    font-family:   "JetBrainsMono Nerd Font", "FontAwesome 6 Free";
    font-size:     16px;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2
}

.modules-center {
    padding: 5px;
    margin: 5px 0px 2.5px 0px;
    border-radius: 5px;
    background-color: #3C3836;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding: 7px;
    margin: 6px 12px 0px 0px;
    border-radius: 5px;
    background-color: #3C3836;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

#workspaces {
    margin: 6px 0px 0px 12px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #3C3836;
    transition: all .2s ease;
}

#workspaces button {
    background: transparent;
}
#workspaces button.active {
    color: #D79921
}
#workspaces button.urgent {
    color: #CC241D;
}

#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#bluetooth,
#idle_inhibitor, 
#temperature,
#pulseaudio,
#custom-layout,
#custom-hyprsunset,
#backlight {
    padding: 0px 5px;
    transition: all .3s ease;
}

#clock {
    padding: 0px 5px;
    transition: all .3s ease;
}

#battery.warning {
   color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#bluetooth.disabled {
    color: rgba(128, 128, 128, 1);
}

#bluetooth.off {
    color: rgba(128, 128, 128, 1);
}

#bluetooth.connected {
    color: rgba(115, 186, 37, 1);
}

#tray{
    margin: 6px 0px 0px 12px;
    background-color: #3C3836;
    padding: 0px 6px;
}

#group-power{
    padding: 0px 10px;
    transition: all .3s ease;
}

#custom-power-expand{
    padding: 0px 10px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}

#custom-lock,
#custom-shutdown,
#custom-sleep,
#custom-reboot {
    margin: 0px 10px;
}
